* {
  box-sizing: border-box;
}
.dominant-color {
  background-color: #bfbfbf;
}
.complementary-color {
  background-color: #0d0d0d;
}
body {
  width: 100%;
  margin: 0px;
}
header {
  width: 100%;
  margin: 0px;
}
#header-img {
  height: 78px;
  width: 100px;
}
#nav-bar {
  overflow: hidden;
  background-color: #0d0d0d;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  left: 0;
  height: auto;
  width: inherit; /* Full width */
  position: 2;
  z-index: 9999;
}
/* Links inside the navbar */
#nav-bar a {
  float: right;
  display: block;
  color: white;
  margin-top: 15px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.75s ease-in-out;
}

/* Change background on mouse-over */
#nav-bar a:hover {
  color: darkgray;
  background-color: whitesmoke;
}

.body-container {
  margin-top: 47px;
  width: 100%;
  position: relative;
  position: 1;
}
.body-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 550px 400px 600px 225px;
  grid-template-areas:
    "a"
    "b"
    "c"
    "d";
}
.form-container {
  grid-area: a;
  display: grid;
  width: 100%;
  height: 550px;
  /* Credit: pexels user Leon Martinez */
  background-image: url(https://i.postimg.cc/qv0zrBMg/man-and-woman-holding-battle-ropes-1552242.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "ac aa ab"
    "ac aa ab";
}

.bg-color {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#eaecee+0,3f4c6b+100 */
  background: #eaecee; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #eaecee 0%,
    #3f4c6b 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #eaecee 0%,
    #3f4c6b 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #eaecee 0%,
    #3f4c6b 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaecee', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}
*/ #txt-centered {
  text-align: center;
}
.center1 {
  grid-area: aa;
  width: 100%;
  height: 100%;
}
.center {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.center-txt {
  margin: 40px auto 40px auto;
}

#img2 {
  height: 375px;
  width: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
#video {
  grid-area: bb;
}
#video div {
  margin: auto;
  width: 75%;
  height: 75%;
  padding: 10px;
}
#video iframe {
  width: 100%;
  height: 100%;
}
.slogan {
  font-size: 40px;
  font-family: sans-serif;
  color: white;
  padding-top: 40%;
  text-align: center;
  font-stretch: semi-expanded;
  display: flex;
  flex-direction: column;
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.button-container a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: white;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid white;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px #d5616a;
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, silver, transparent);
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

/* About Us */
.About-us {
  grid-area: b;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
.left-side {
  width: 70%;
  height: 100%;
  border-top: 500px solid #0d0d0d;
  filter: drop-shadow(5px -5px 4px #595959);
  border-right: 200px solid transparent;
  margin: 0;
  position: relative;
  z-index: 4;
}
.left-side h3 {
  color: white;
  text-align: center;
  text-decoration: underline;
  bottom: 450px;
  left: 350px;
  position: relative;
  width: 120px;
  height: 93px;
}
.left-side p {
  color: white;
  text-align: left;
  bottom: 500px;
  left: 225px;
  position: relative;
  width: 400px;
}
.right-side {
  filter: drop-shadow(5px -5px 2px #595959);
  position: relative;
}
.right-side img {
  transform: rotateY(180deg);
}
#Fitness-Goals {
  width: 60%;
}
.products {
  grid-area: c;
  width: 100%;
}
.service-title {
  width: 100%;
  height: 100px;
  /* Firefox */
  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;
  /* Safari and Chrome */
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  /* W3C */
  display: box;
  box-pack: center;
  box-align: center;
}
.service-center {
  position: absolute;
  top: 50%;
  left: 50%;
}
.text {
  width: 450px;
  height: 60px;
  font-size: 60px;
  text-transform: uppercase;
  font-family: verdana;
  font-weight: 700;
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}
#mobile {
  text-align: center;
  margin-bottom: -16px;
  visibility: hidden;
}
.box-img {
  width: 100%;
  height: 275px;
}
.box-img img {
  width: 100%;
  height: 100%;
}
.img {
  height: 260px;
}
.Box-Title {
  width: 100%;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  color: white;
}
.service-price {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}
.service-price h3 {
  margin-top: 10px;
  color: white;
}
.flex {
  display: flex;
  flex-direction: row;
}
.box {
  position: relative;
  width: 250px;
  height: 375px;
  margin: 30px auto 30px auto;
  text-align: center;
  border: 2px solid black;
  background-color: whitesmoke;
}
.flip-card {
  background-color: transparent;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transition: all 1s ease-out;
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  background-color: blue;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: blue;
  color: black;
  transform: rotateY(180deg);
  transition: all 1s ease-out;
}
.flip-card-back h2 {
  margin-top: 20px;
}

.flip-card-back li {
  margin: 5px;
}
.flip-card-back li span {
  position: relative;
  left: -25px;
}
.footer {
  grid-area: d;
  color: whitesmoke;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footerNav {
  display: flex;
  flex-direction: row;
}
.footerNav a {
  color: whitesmoke;
}
#location-icon {
  height: 25px;
  width: 20px;
}
.icons {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}
#less-space {
  line-height: 15px;
}
#spacing {
  padding-top: 10px;
}
#spacing-phone {
  padding-top: 5px;
}
#about-title {
  font: bold 20px sans-serif;
}
#about-paragraph {
  font: 14px/15px sans-serif;
}

/* RESPONSIVITY TIME */
@media only screen and (max-width: 1100px) {
  .left-side h3 {
    left: 250px;
  }
  .left-side p {
    left: 125px;
  }
}
@media only screen and (max-width: 950px) {
  .service-title {
    margin-top: 0px;
  }
  .left-side h3 {
    left: 150px;
  }
  .left-side p {
    left: 70px;
    font-size: 15px;
    width: 300px;
  }
  #img2 {
    left: -50px;
  }
}
@media only screen and (max-width: 750px) {
  #img2 {
    left: -75px;
  }
  #mobile {
    color: whitesmoke;
    visibility: visible;
  }
}
@media only screen and (max-width: 500px) {
  #img2 {
    left: -50px;
  }
}
